* {
  margin: 0;
  padding: 0%;
}

h2 {
  font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700; 
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

h3 {
  font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

li {
  font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.headline_icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 45.37%;
  justify-content: space-between;
}

.headline_icons li {
  text-decoration: none;
}

#headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding: 15px 9.33%;
}

p {
  font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.headline_button {
  justify-self: flex-end;
  border: 1px solid black;
  border-radius: 100%;
  padding: 16px 13px;
  margin-bottom: 5%;
}

.headline_text h2:nth-child(3) {
  color: #36B37e;
}

#myRecentWorks {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1/6fr 100%;
}

.section_content-segment {
  display: flex;
  flex-direction: column;
  background-color: #d0d9d4;
  border-color: #d0d9d4;
  border-width: 2px;
  border-radius: 5%;
  border-style: solid;
  margin: 5%;
}

.section_content_text {
  margin-top: 50%;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section_content_text ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin:5%; 
}

.section_content-segment ul > li {
  background-color: #D0D9D4;
  padding: 1%;
  border-radius: 7%;
}

button {
  background-color: #36B37E;
  border-width: 0;
  margin: auto;
  padding: 12px;
  color: white;
  align-self: center;
  align-content: center;
  margin-bottom: 5%;
}

button:hover {
  box-shadow: 0 3px 5px 1px #36b37e;
  text-shadow: #36b37e;
}

button:active {
  background-color: #008552;
  box-shadow: none;
}

#aboutMe {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  justify-content: spa;
  align-items: center;
  background-color: white;
}

#aboutMe > p {
  margin: 5%;
  line-height: 32px;
}

.aboutMe__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D0D9D4;
  margin: 5%;
  border-radius: 5%;
  padding-top: 10%;
  padding-bottom: 2%;
  border-color: #C1C7D0;
  border-style: solid;
}

.aboutMe__item-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
  padding: 5%; 
}

.aboutMe__item-list li{
  margin: 2%;
  background-color: white;
  padding: 5px;
  color: #36b37e;
}

#contact_form {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2fr 2fr 1/2fr 1fr;
  margin: 5%;
}

#contact_form form {
  font-size: 15px;
  font-family: Inter;
  font-style: italic;
  line-height: 24px;
  display: flex;
  flex-direction: column;
}

#contact_form form > ul > li > textarea {
  border-style: solid;
  border-color: #36B37E;
  width: 90%;
}

#contact_form form > ul > li {
  font-size: 15px;
  font-family: Inter;
  font-style: italic;
  line-height: 24px;
  margin-top: 4%;
}

li > input {
  padding: 12px;
  width: 80%;
}

#contact_form form > ul {
  list-style: none;
}

#contact_form ul {
  margin-bottom: 5%;
  justify-self: center;
}

#contact_form p{
  margin: 10%;
}

@media only screen and (min-width:375px) and (max-width:767px) {
  #headline {
    background-image: url("images/header-illsutration-mobile@2x.png");
    background-size: 100% 100%;
    width: 100%;
    height: 67.42%;
  }
  .headline_text {
    margin: 64px 7.2% 22.89px 7.2%;
  }
  .headline_text p {
    margin-top: 15px;
  }

  .headline_icons {
    margin-bottom: 76.89%;
  }
}

@media only screen and (min-width:768px) {
  #headline {
    padding: 10% 25.3% 20% 25.3%;
    justify-content: space-between;
    gap: 5vh;
    background-image: url(images/Header-llustration-desktop@2x.png);
    background-size: 100% 100%;
    flex-grow: 1;
  }

  .section_content {
    display: grid;
    grid-template: 1fr 1fr /1fr 1fr 1fr;
    gap: 24px;
    margin: 10%;
  }

  .section_content-segment {
    margin: 0;
  }

  .section_content_text ul {
    flex-wrap: wrap;
    gap: 1vh;
  }
  .section_content_text ul > li {
    padding: 2%;
  }

  #aboutMe {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  #aboutMe h2, p, button {
    grid-column: span 3;
  }
  
  #contact_form {
    display: flex;
    flex-direction: column;
  }

  #contact_form form > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #contact_form form > ul > li:nth-child(3) {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    margin-right: 10%;
  }

  #contact_form form > ul > li:nth-child(3) textarea {
    font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    padding: 5%;
    
  }

  #contact_form ul {
    align-self: center;
  }

  #contact_form p {
    margin: 5%;
  }

  #contact_form h2 {
    margin: 5%;
  }
}
